* {
  font-family: Roboto;
}

header {
  /* background-image: url(/src/images/windows); */
  background-size: contain;
  color: whitesmoke;
  text-align: center;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

h1 {
  font-size: 0.5em;
  padding-top: 5%;
  padding-bottom: 5%;
}

header nav {
  position: absolute;
  right: 0;
  padding-right: 10%;
  padding-top: 20px;
  color: white;
}

header nav a,
footer p {
  color: white;
  text-decoration: none;
}

header nav a:hover,
footer a:hover {
  color: gray;
  text-transform: uppercase;
}

#main {
  margin-top: 5%;
}

.circle {
  border-radius: 200px;
}

#icon img {
  border-radius: 100%;
  width: 250px;
  height: 250px;
}

#icon p {
  text-align: center;
}
.center {
  margin: 0 auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#icon {
  max-width: 450px;
}
body {
  margin: 0;
}

footer {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  width: 100%;
}

footer a {
  font-size: 5em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  color: white;
}

ul {
  padding-top: 3%;
  padding-bottom: 15%;
  max-width: 600px;
}

ul li {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

ul li p {
  padding-left: 5%;
  padding-right: 5%;
}

#resume {
  text-align: center;
}

#resume img {
  max-width: 800px;
}
#footer-reveal {
  display: none;
}

#footer-link {
  font-size: 0.5em;
}

.cool-text {
  margin: auto;
  font-size: 5em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 2px white;
  text-shadow: 5px 10px gray;
  font-style: italic;
  word-break: break-word;
}
