body {
  font-family: sans-serif;
  margin: 0 auto;
}

header {
  display: grid;
  grid-template-columns: "1fr 2fr 1fr";
  grid-template-rows: "1fr 1fr";
  grid-template-areas:
    "email photo location"
    ". name .";
}

#header-img {
  grid-area: photo;
  border-radius: 100px;
  margin-top: 10%;
}

h1 {
  text-align: center;
  grid-area: name;
}
